.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 8px;
  margin: 8px;
}

.card > img {
  width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap ;
}

.word-break {
  word-break: break-word;
}